<%- include('../partials/header') %>
  <h1>Users Index</h1>
  <ul>
    <% for (let gram of grams) { %>
      <li>
        <img src="<%= gram.srcUrl %> ">
        <p><%= gram.description %></p>
      </li>
    <% } %>
  </ul>
<%- include('../partials/footer') %>